<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>net.isometry.alfred.ssh</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>73503A72-F4BD-4C29-B531-ACE7CF405F6B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>027D62F5-14E9-4EA0-BE27-57C38B1ECC1F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>89086C8B-52A6-4FC4-BD85-FC672CC36238</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>73503A72-F4BD-4C29-B531-ACE7CF405F6B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8A4E0C7A-B3E2-4872-B51D-26A1CF571253</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>73503A72-F4BD-4C29-B531-ACE7CF405F6B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Robin Breathe</string>
	<key>description</key>
	<string>Open Secure SHell with smart hostname autocompletion</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>ssh</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>41</integer>
				<key>hotmod</key>
				<integer>1310720</integer>
				<key>hotstring</key>
				<string>S</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>89086C8B-52A6-4FC4-BD85-FC672CC36238</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>{var:keyword}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Please Wait: matching host…</string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>alfredssh.py</string>
				<key>subtext</key>
				<string>Open Secure SHell with smart hostname autocompletion</string>
				<key>title</key>
				<string>Open SSH</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>73503A72-F4BD-4C29-B531-ACE7CF405F6B</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>ssh://{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>027D62F5-14E9-4EA0-BE27-57C38B1ECC1F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>availableviaurlhandler</key>
				<true/>
				<key>triggerid</key>
				<string>ssh</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>8A4E0C7A-B3E2-4872-B51D-26A1CF571253</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Easily open remote SSH sessions using your default ssh: protocol handler (the default being Terminal.app) with full anchored hostname autocompletion against the contents of ~/.ssh/config (e.g. Host aliases with Hostname override), ~/.ssh/known_hosts (historical connections), /etc/hosts and, optionally, other user-specified files.</string>
	<key>uidata</key>
	<dict>
		<key>027D62F5-14E9-4EA0-BE27-57C38B1ECC1F</key>
		<dict>
			<key>note</key>
			<string>Launch default ssh: protocol-handler</string>
			<key>xpos</key>
			<real>500</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>73503A72-F4BD-4C29-B531-ACE7CF405F6B</key>
		<dict>
			<key>note</key>
			<string>Parse arguments and return matching hosts</string>
			<key>xpos</key>
			<real>320</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>89086C8B-52A6-4FC4-BD85-FC672CC36238</key>
		<dict>
			<key>note</key>
			<string>Optionally load workflow directly via hotkey</string>
			<key>xpos</key>
			<real>150</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>8A4E0C7A-B3E2-4872-B51D-26A1CF571253</key>
		<dict>
			<key>xpos</key>
			<real>150</real>
			<key>ypos</key>
			<real>200</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>ssh</string>
				<key>placeholder</key>
				<string>ssh</string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>keyword</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>36</string>
				<key>placeholder</key>
				<string>36</string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Maximum number of search results to return</string>
			<key>label</key>
			<string>Max. Results</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>alfredssh_max_results</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<true/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>Enable parsing ~/.ssh/config</string>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>ssh_config</string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>alfredssh_ssh_config</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<true/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>Enable parsing of user and system known_hosts files</string>
			</dict>
			<key>description</key>
			<string>Includes:
* ~/.ssh/known_hosts
* /etc/ssh/ssh_known_hosts
* /usr/local/etc/ssh/ssh_known_hosts</string>
			<key>label</key>
			<string>known_hosts</string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>alfredssh_known_hosts</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<true/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>Enable parsing /etc/hosts</string>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>hosts file</string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>alfredssh_hosts</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>Extra files containing hostnames to match</string>
				<key>filtermode</key>
				<integer>2</integer>
				<key>placeholder</key>
				<string>Extra files</string>
				<key>required</key>
				<false/>
			</dict>
			<key>description</key>
			<string>Every line not starting with a # is split on whitespace, and all resulting "words" are matched</string>
			<key>label</key>
			<string>Extra files</string>
			<key>type</key>
			<string>filepicker</string>
			<key>variable</key>
			<string>alfredssh_extra_files</string>
		</dict>
	</array>
	<key>version</key>
	<string>4.0</string>
	<key>webaddress</key>
	<string>https://github.com/isometry/alfred-ssh</string>
</dict>
</plist>
